/* BASE STYLES */
body{
   font-family: 'Montserrat Alternates', sans-serif;
   color: #000000;
   background-color: #e7e5e2;
   margin: 0;
   width: 100%;
   font-size: 16px;
}

p{
   padding: 20px;
   font-weight: lighter;
}

i:hover, a:hover, .nav a:hover{
   color: #5a8775;
}

.wrapper {
   display: grid;
   grid-template-columns: auto auto auto auto;
}

.wrapper > div{
text-align: center;
}

 /***  BUTTON STYLES  ***/
.button{
   background-color: #282c2c;
   border: none;
   color: #ece9e6;
   text-transform: uppercase;
   cursor: pointer;
   font-size: .9em;
   padding: 10px 30px;
   text-decoration: none;
   display: inline-block;
      
}

.button-gallery{
   background-color: #eaa177;
   border: none;
   color: #282c2c;
   text-transform: uppercase;
   cursor: pointer;
   font-size: .9em;
   margin: 20px;
   padding: 10px 30px;
   text-decoration: none;
   display: inline-block;
}


/* Sections of Grid Styles */

/***  LOGO  ***/
 .logo {
   grid-column: 1 / span 1;
   grid-row: 1 / span 1;
   position: relative;
   min-height: 120px;
   display: grid;
   justify-self: start;
 }

 h1{
   color: #282c2c;
   font-size: 2.5em;
   text-align: left;
   margin-left: 30px;
}

 .logo p{
    margin-top: -60px;
    margin-left: 150px;
 }

/***  NAV  ***/
.nav{
   grid-column: 3 / span 2;
   grid-row: 1 / span 1;
   min-height: 120px;
   display: grid;
   justify-self: end;
   width: 600px;
 }

 .nav ul{
    margin-right: 40px;
 }

.nav ul li{
   display: inline;
   padding-left: 30px;
}

.nav ul li a{
   text-transform: uppercase;
   text-decoration: none;
   font-size: 1em;
   color: #a43c43;
   cursor: pointer;
}


/***  TEXT BLOCKS  ***/
.timeless, .trends, .best-looks{
   font-size: 1.5em;
   width: 100%;
   min-height: 300px;
   min-width: 300px;
}

.timeless{
   background: #919795;

   grid-column: 1 / span 1;
   grid-row: 2 / span 1;
   min-height: 300px;
   padding-top: 40px;
}

.trends{
   background-color: #eaa177;
   grid-column: 1 / span 1;
   grid-row: 3 / span 1;
   padding-top: 90px;
}

.best-looks{
   background: #919795; 
   color: #ece9e6;
   text-decoration: underline #eaa177;

   grid-column: 3 / span 1;
   grid-row: 3/ span 1;
   padding-top: 90px;

}

 /***  IMGs  ***/
.couple {
   background: white url(../img/hero-couple.png);
   background-position: center;
   position: relative;
   background-size: cover;

   grid-column: 2 / span 1;
   grid-row: 1 / span 4;
   min-height: 840px;
   min-width: 300px;
}

.rosie{
   background: white url(../img/hero-rosie.png);
   background-position: center;
   position: relative;
   background-size: cover;

   grid-column: 3 / span 1;
   grid-row: 2 / span 1;
   min-height: 300px;


}

.man{
   background: white url(../img/hero-man.png);
   background-position: center;
   position: relative;
   background-size: cover;

   grid-column: 4 / span 1;
   grid-row: 2 / span 2;
   min-width: 300px;
   
}

 /***  FOOTER AREA ***/
.copy{
   color: #a43c43;
   grid-column: 1 / span 1;
   grid-row: 4 / span 1;
   min-height: 120px;
   padding-top: 20px;
  
   min-width: 300px;
   display: grid;
   justify-self: start;
   align-self: center;
}

.copy p{
   font-size: .8em;
   padding-top: 0;
   margin-top: 90px;
   text-align: start;
}

.social{
display:grid;
   grid-column: 3 / span 2;
   grid-row: 4 / span 1;
   min-height: 120px;
}

.social li{
   color: #a43c43;
   text-transform: uppercase;

   display: inline;
   font-size: 1.2em;
   padding-right: 20px;   
}

/***  FOLLOW US & UL ICON PROPERTIES ***/
.social ul{
   color: #a43c43;

   font-size: .9em;
   justify-self: end;
   margin-right: 40px;
   
}

/***  ICONS ***/
.social a{
   color: #a43c43;
}


/*------ MEDIA QUERIES -------
--------------------------------*/
/*** TABLET ***/

@media (min-width: 768px){

}


/*** DESKTOP ***/

@media (min-width: 1200px){
   .wrapper{
      grid-template-columns: auto auto auto auto;
   }

/*** BUTTON STYLES ***/
   .button{
      font-size: .9em;
      padding: 10px 30px;
      text-decoration: none;
      display: inline-block;
   }

   .button-gallery{
      font-size: .9em;
      margin: 20px;
      padding: 10px 30px;
      text-decoration: none;
      display: inline-block;
   }

   /***  LOGO  ***/
   .logo {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      position: relative;
      min-height: 120px;
      display: grid;
      justify-self: start;
   }

   h1{
      color: #282c2c;
      font-size: 2.5em;
      text-align: left;
      margin-left: 30px;
   }

   .logo p{
      margin-top: -60px;
      margin-left: 150px;
   }

   /***  NAV  ***/
.nav{
   grid-column: 3 / span 2;
   grid-row: 1 / span 1;
   min-height: 120px;
   display: grid;
   justify-self: end;
   width: 600px;
 }

 .nav ul{
    margin-right: 40px;
 }

.nav ul li{
   display: inline;
   padding-left: 30px;
}

.nav ul li a{
   font-size: 1em;

}


/***  TEXT BLOCKS  ***/
.timeless, .trends, .best-looks{
   font-size: 1.5em;
   width: 100%;
   min-height: 300px;
   min-width: 300px;
}

.timeless{
   grid-column: 1 / span 1;
   grid-row: 2 / span 1;
   min-height: 300px;
   padding-top: 40px;
}

.trends{
   grid-column: 1 / span 1;
   grid-row: 3 / span 1;
   padding-top: 90px;
}

.best-looks{
   grid-column: 3 / span 1;
   grid-row: 3/ span 1;
   padding-top: 90px;
}

 /***  IMGs  ***/
.couple {
   grid-column: 2 / span 1;
   grid-row: 1 / span 4;
   min-height: 840px;
   min-width: 300px;
}

.rosie{
   grid-column: 3 / span 1;
   grid-row: 2 / span 1;
   min-height: 300px;
}

.man{
   grid-column: 4 / span 1;
   grid-row: 2 / span 2;
   min-width: 300px;
}

 /***  FOOTER AREA ***/
.copy{
   grid-column: 1 / span 1;
   grid-row: 4 / span 1;
   min-height: 120px;
   padding-top: 20px;
   min-width: 300px;
   display: grid;
   justify-self: start;
   align-self: center;
}

.copy p{
   font-size: .8em;
   padding-top: 0;
   margin-top: 90px;
   text-align: start;
}

.social{
display:grid;
   grid-column: 3 / span 2;
   grid-row: 4 / span 1;
   min-height: 120px;
}

.social li{
   display: inline;
   font-size: 1.2em;
   padding-right: 20px;   
}

/***  FOLLOW US & UL ICON PROPERTIES ***/
.social ul{
   font-size: .9em;
   justify-self: end;
   margin-right: 40px;

}




}