/* BASE STYLES */
body{
   font-family: 'Montserrat Alternates', sans-serif;
   color: #000000;
   background-color: #e7e5e2;
   margin: 0;
   width: 100%;
   font-size: 16px;
}

 /***  IMGs  ***/

 img{
   display: block;
   width: 100%;
   height: auto;
}

p{
   padding: 20px;
   font-weight: lighter;
}

i:hover, .nav a:hover{
   color: #5a8775;
}

.wrapper > div{
text-align: center;
}

 /***  BUTTON STYLES  ***/
.button-1, .button-2{
   display: inline-block;
   background: #282c2c;
   border: none;
   text-transform: uppercase;
   margin: 3em;
   cursor: pointer;
   font-size: .9em;
   padding: 10px 30px;
   text-decoration: none;
   transition: opacity .5s ease-in-out;  
}

.button-gallery{
   display: inline-block;
   background: #eaa177;
   border: none;
   color: #282c2c;
   text-transform: uppercase;
   margin: 3em;
   cursor: pointer;
   font-size: .9em;
   padding: 10px 30px;
   text-decoration: none;
   transition: opacity .5s ease-in-out;  
}

.button-1:hover, .button-2:hover {
   background-color: #e7e5e2;
   color: #eaa177;
}




/* Sections of Grid Styles */

/***  LOGO  ***/
 h1{
   color: #282c2c;
   font-size: 2.5em;
   text-align: left;
   margin-left: 30px;
}

 .logo p{
    margin-top: -0px;
    margin-left: 150px;
 }

/***  NAV  ***/

.nav{

   min-height: 120px;
   display: grid;
   justify-self: center;
   width: 600px;
 }

 .nav ul{
    margin-right: 40px;
 }

.nav ul li{
   display: inline;
   padding-left: 30px;
}

.nav ul li a{
   text-transform: uppercase;
   text-decoration: none;
   font-size: 1em;
   color: #a43c43;
   cursor: pointer;
}


/***  TEXT BLOCKS  ***/

.timeless, .trends, .best-looks{
   font-size: 1.5em;
   width: 100%;
   min-height: 300px;
   min-width: 300px;
}

.timeless{
   background: #919795;
   padding-top: 40px;

}
.timeless a{
   color: #e7e5e2;
   text-decoration: none;
 }

 .timeless a:hover{
   color: #eaa177;
 }

.trends{
   background-color: #eaa177;
   padding-top: 90px;
}
.trends a{
   color: #ece9e6;
   text-decoration: none;
 }

 .trends a:hover{
   color: #282c2c;
 }

.best-looks{
   background: #919795; 
}
.best-looks a{
   color: #ece9e6;
   text-decoration: none;
 }

 .best-looks a:hover{
   color: #282c2c;
 }

 /***  IMGs  ***/

.couple {
   background: white url("../img/hero-couple.png");
   min-height: auto;
}

.rosie{
   background: white url("../img/hero-rosie.png");
   min-width: 300px;
   min-height: 300px;
}

.man{
   background: white url("../img/hero-man.png");
   min-width: 300px;
   min-height:600px;
   
}

 /***  FOOTER AREA ***/
 
.copy{
   color: #a43c43;
   grid-column: 1 / span 1;
   grid-row: 4 / span 1;
   min-height: 120px;
   padding-top: 20px;
  
   min-width: 300px;
   display: grid;
   justify-self: start;
   align-self: center;
}

.copy p{
   font-size: .8em;
   padding-top: 0;
   margin-top: 90px;
   text-align: start;
}

.social{
display:grid;
   grid-column: 3 / span 2;
   grid-row: 4 / span 1;
   min-height: 120px;
}

.social li{
   color: #a43c43;
   text-transform: uppercase;

   display: inline;
   font-size: 1.2em;
   padding-right: 20px;   
}


/***  FOLLOW US & UL ICON PROPERTIES ***/
.social ul{
   color: #a43c43;

   font-size: .9em;
   justify-self: end;
   margin-right: 40px;
   
}

/***  ICONS ***/
.social a{
   color: #a43c43;
}

/*------ MEDIA QUERIES -------
--------------------------------*/
/*** TABLET ***/

@media (min-width: 768px){
   .wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr;
   }

}


/*** DESKTOP ***/

@media (min-width: 1150px){
      .wrapper{
         display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      .button{
         display: inline-block;
         margin-top: 0.5em 0;
         padding: 1em 2em;
      }



      /***  LOGO  ***/
      .logo {
         display: grid;
         grid-column: 1 / span 1;
         grid-row: 1 / span 1;
         position: relative;
         min-height: 120px;
         display: grid;
         justify-self: start;
   }

      h1{
         font-size: 2.5em;
         text-align: left;
         margin-left: 30px;
      }

      .logo p{
         margin-top: -60px;
         margin-left: 150px;
      }

      /***  NAV  ***/
   .nav{
      display: grid;
      grid-column: 3 / span 2;
      grid-row: 1 / span 1;
      min-height: 120px;
      display: grid;
      justify-self: end;
      width: 600px;
   }

   .nav ul{
      margin-right: 40px;
   }

   .nav ul li{
      display: inline;
      padding-left: 30px;
   }

   .nav ul li a{
      font-size: 1em;

   }


   /***  TEXT BLOCKS  ***/
   .timeless, .trends, .best-looks{
      display: grid;
      font-size: 1.5em;
      width: 100%;
      min-height: 300px;
      min-width: 300px;
   }

   .timeless{
      display: grid;
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
      padding-top: 40px;
   }

   .trends{
      display: grid;
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
      padding-top: 90px;
   }

   .best-looks{
      display: grid;
      grid-column: 3 / span 1;
      grid-row: 3/ span 1;
      padding-top: 90px;
   }

   /*** IMGs ***/

   .couple,
   .rosie,
   .man{
      background-position: center;
      position: relative;
      background-size: cover;
   }

   .couple {
      display: grid;
      grid-column: 2 / span 1;
      grid-row: 1 / span 4;
      min-height: 840px;
      min-width: 300px;
   }

   .rosie{
      display: grid;
      grid-column: 3 / span 1;
      grid-row: 2 / span 1;
   }

   .man{
      display: grid;
      grid-column: 4 / span 1;
      grid-row: 2 / span 2;
   }

   /***  FOOTER AREA ***/
   .copy{
      display: grid;
      grid-column: 1 / span 1;
      grid-row: 4 / span 1;
      min-height: 120px;
      padding-top: 20px;
      min-width: 300px;
      display: grid;
      justify-self: start;
      align-self: center;
   }

   .copy p{
      font-size: .8em;
      padding-top: 0;
      margin-top: 90px;
      text-align: start;
   }

   .social{
      display:grid;
      grid-column: 3 / span 2;
      grid-row: 4 / span 1;
      min-height: 120px;
   }

   .social li{
      display: inline;
      font-size: 1.2em;
      padding-right: 20px;   
   }

   /***  FOLLOW US & UL ICON PROPERTIES ***/
   .social ul{
      font-size: .9em;
      justify-self: end;
      margin-right: 40px;

   }




}
